In [1]:
import pandas as pd

In [2]:
df = pd.read_excel (r'/Users/faaizahdesai/Desktop/City1.xlsx', sheet_name = 'City1')

In [3]:
print(df)

      CityID  CandID Term_Start Polls_Close      Share  Turnout
0          0   52352 1902-01-01  1901-11-05  51.234877    16.85
1          0   52352 1904-01-01  1903-11-03  42.515748    17.25
2          0   52353 1902-01-01  1901-11-05  45.775422    16.85
3          0    5002 1902-01-01  1901-11-05   1.699830    16.85
4          0   52355 1902-01-01  1901-11-05   1.069893    16.85
5          0   52354 1902-01-01  1901-11-05   0.219978    16.85
6          0   52354 1910-01-01  1909-11-02   0.149970    17.34
7          0   52348 1904-01-01  1903-11-03  53.094691    17.25
8          0   52348 1904-01-01  1903-10-01  66.460000     0.02
9          0   52348 1906-01-01  1905-11-07  37.736226    17.61
10         0   65351 1904-01-01  1903-11-03   2.859714    17.25
11         0   49881 1904-01-01  1903-11-03   0.879912    17.25
12         0   49881 1910-01-01  1909-11-02   0.209958    17.34
13         0   65352 1904-01-01  1903-11-03   0.499950    17.25
14         0   52105 1904-01-01  1903-11-03   0.149985    17.25
15         0   35506 1904-01-01  1903-10-01  33.540000     0.02
16         0   35506 1910-01-01  1909-11-02  42.011598    17.34
17         0   26250 1910-01-01  1909-11-02  25.874825    17.34
18         0   26250 1906-01-01  1905-11-07  37.156284    17.61
19         0   52347 1910-01-01  1909-11-02  29.754049    17.34
20         0   40654 1910-01-01  1909-11-02   1.979604    17.34
21         0   62277 1910-01-01  1909-11-02   0.019996    17.34
22         0   52349 1906-01-01  1905-11-07  22.667733    17.61
23         0   19495 1906-01-01  1905-11-07   1.939806    17.61
24         0   60916 1906-01-01  1905-11-07   0.379962    17.61
25         0   60915 1906-01-01  1905-11-07   0.119988    17.61
26         0   43645 1914-01-01  1913-11-04  57.074293    13.21
27         0   43645 1918-01-01  1917-09-19  49.580000     1.53
28         0   43645 1918-01-01  1917-11-06  23.100000    14.12
29         0   43722 1914-01-01  1913-11-04  37.336266    13.21
...      ...     ...        ...         ...        ...      ...
6455     239  330491 2013-01-01  2012-11-06  41.710000    39.48
6456     240  228579 2004-12-01  2004-10-05  94.850000     8.74
6457     240  228575 2007-12-01  2007-10-30  50.700000     7.77
6458     240  228575 2007-12-01  2007-10-09  37.400000    11.34
6459     240  228575 2010-11-01  2010-10-12  45.800000    11.17
6460     240  228576 2007-12-01  2007-10-30  49.300000     7.77
6461     240  228576 2007-12-01  2007-10-09  22.260000    11.34
6462     240  228576 2013-11-01  2013-10-01  47.970000     8.28
6463     240  228577 2007-12-01  2007-10-09  20.420000    11.34
6464     240  191117 2007-12-01  2007-10-09  11.460000    11.34
6465     240  191117 2016-11-01  2016-10-04   7.749225     9.44
6466     240  228578 2007-12-01  2007-10-09   7.850000    11.34
6467     240  275184 2010-11-01  2010-10-12  53.540000    11.17
6468     240  384755 2013-11-01  2013-10-01  51.620000     8.28
6469     240  384755 2016-11-01  2016-10-04  41.815818     9.44
6470     240  384756 2016-11-01  2016-10-04  50.104990     9.44
6471     241  195659 2003-10-20  2003-10-14  52.814719    30.87
6472     241  195659 2006-10-16  2006-10-10  60.810000    24.74
6473     241  195659 2009-10-15  2009-10-06  71.880000    21.93
6474     241  195661 2003-10-20  2003-10-14  46.495350    30.87
6475     241  195660 2006-10-16  2006-10-10  38.450000    24.74
6476     241  195664 2009-10-15  2009-10-06  24.810000    21.93
6477     241  195664 2000-10-09  2000-10-03   3.779622    37.50
6478     241  137330 2000-10-09  2000-10-03  44.535546    37.50
6479     241  195663 2000-10-09  2000-10-03  46.445355    37.50
6480     241  195662 2000-10-09  2000-10-03   4.539546    37.50
6481     241  195783 2012-10-11  2012-10-02  55.265527    19.64
6482     241  315762 2012-10-11  2012-10-02  44.324432    19.64
6483     241  371405 2016-04-01  2016-03-15  57.860000    26.50
6484     241  255446 2016-04-01  2016-03-15  41.490000    26.50

[6485 rows x 6 columns]

In [4]:
keyrace = df.groupby('Term_Start').agg(['max'])

In [5]:
keyrace

           CityID  CandID Polls_Close       Share Turnout
              max     max         max         max     max
Term_Start
1900-01-01     22  262156  1899-12-12   50.210000   18.14
1900-04-19     30   99625  1900-04-03  100.000000    0.00
1900-05-08      5  202471  1900-04-02  100.000000    0.02
1901-04-16     59  221553  1901-04-02   38.962208   19.26
1901-05-14      5  173622  1901-04-02  100.000000    0.02
1902-01-01     22  262152  1901-12-10   60.073993   16.85
1902-04-19     30  263810  1902-04-01   49.930000   20.38
1902-05-14      5  173622  1902-04-02  100.000000    0.02
1903-05-11      5  202481  1903-04-02  100.000000    0.02
1904-01-01     22  262150  1903-12-15   66.460000   17.25
1904-04-19     30  263809  1904-04-05   40.470000   20.36
1905-04-18     59  221554  1905-04-04   46.270000   16.65
1906-01-01      0   60916  1905-11-07   37.736226   17.61
1906-01-08     22  257447  1905-12-12   47.495250   16.58
1906-04-19     30  263808  1906-04-03   37.420000   21.13
1906-05-07      5  202484  1906-04-02  100.000000    0.02
1907-05-07      5  202484  1907-04-02  100.000000    0.02
1908-01-06     22  257445  1907-12-10   42.410000   16.02
1908-04-19     30  100640  1908-04-07   37.016298   21.90
1908-05-07      5  202484  1908-04-02  100.000000    0.02
1909-04-20     59  221557  1909-04-06   55.234477   19.50
1909-05-06      5  202485  1909-04-02  100.000000    0.02
1910-01-01      0   62277  1909-11-02   42.011598   17.34
1910-02-01     22  215490  1910-01-11   49.474947   17.00
1910-04-19     30  132643  1910-04-05   46.500000   15.89
1910-05-06      5  202485  1910-04-02  100.000000    0.01
1912-04-19     30  116561  1912-04-02   58.780000   19.65
1912-05-06      5  202485  1912-04-02  100.000000    0.01
1913-04-15     59  221544  1913-04-01   49.390000   16.15
1914-01-01      0   60567  1913-11-04   57.074293   13.21
...           ...     ...         ...         ...     ...
2015-12-07    216  301052  2015-11-03   51.105111   28.66
2015-12-10     41  285122  2015-10-06   74.660000    9.18
2016-01-01    234  378196  2015-12-12   98.780000   28.22
2016-01-03    215  384864  2015-12-08  100.000000   28.99
2016-01-04    214  364886  2015-11-03   85.360000   23.35
2016-01-11     72  372088  2015-11-03   62.523748    9.36
2016-02-01    177  296155  2015-11-23  100.000000    0.00
2016-02-03     97  382818  2016-02-02   58.340000   13.05
2016-04-01    241  371405  2016-03-15  100.000000   26.50
2016-04-18     30  365754  2016-04-05   69.960000   26.54
2016-05-01    169  370720  2016-04-05   52.190000   16.27
2016-06-01     83  169420  2016-05-03   51.679664   13.54
2016-07-15    121  109313  2016-05-08   95.640000    9.86
2016-11-01    240  384756  2016-10-04   50.104990    9.44
2016-12-01     58  380359  2016-11-08   63.696370   20.85
2016-12-05      7  369556  2016-06-07   57.224278   22.92
2016-12-09    123  215537  2016-11-08   98.790000   25.96
2016-12-14    208  377954  2016-11-08   56.370000   32.09
2017-01-01    237  384971  2016-11-08  100.000000   57.75
2017-01-02     54  373242  2016-11-08   52.160000   31.25
2017-01-03    206  382740  2016-12-10   98.600140   43.93
2017-04-15    204  383771  2017-04-11   63.863614   19.67
2017-04-18     59  384002  2017-04-04   68.400000   18.03
2017-05-01    175  381200  2017-04-04   54.010000   11.38
2017-05-22    229  383800  2017-03-07   89.270000    9.94
2017-06-01     57  387089  2017-05-06   70.550000    7.43
2017-06-11     42  204644  2017-05-09   53.230000   22.02
2017-06-20     66  382222  2017-04-04   55.034497    8.19
2017-06-24     19  383486  2017-06-10   57.000000    4.85
2017-07-01    233  387982  2017-06-10  100.000000   19.42

[594 rows x 5 columns]